<div class="status-<%= commit.status %> commit" id="commit<%=h commit.revision %>">
	<div class="summary">
		<h2><span class="user"><%=h commit.user %></span>: <span class="revision-no"><%=h commit.revision %></span></h2>
		<div class="date"><%=h commit.date.strftime("%H:%M %A %d %B '%y") %></div>
		<div class="status"><span id="status<%=h commit.revision %>"><%= commit_status(commit) %></span></div>
		<div id="controls<%=h commit.revision %>" class="controls buttons">
			<%= render :partial => 'commit_controls', :locals => { :commit => commit } %>
		</div>
	</div>

	<div class="details" <%= details_style(commit) %> >
	<p class="toggle-link"><a href="#" onclick="Effect.toggle($$('#commit<%=h commit.revision %> .details')[0],'blind'); return false;">Toggle details</a></p>
			<div class="comments"><%= RedCloth.new( commit.comments.to_s ).to_html%></div>
			<%= render :partial => 'files', :locals =>{ :commit => commit } %>
		<div class="release-notes" id="release-notes<%= commit.revision %>">
				<% remote_form_for [@release,commit] do |f| %>
				<%= hidden_field_tag :no_redirect, true %>
			<h3 class="accordion_toggle">Changes:</h3>
			<div class="accordion_content release-note">
				<%= f.text_area :changes_text, :rows => 4, :cols => 52, :id => "changes_text#{commit.revision}", :class => 'c-t-text changes' %>
			</div>
			<h3 class="accordion_toggle">Testing:</h3>
			<div class="accordion_content release-note">
				<%= f.text_area :testing_text, :rows => 4, :cols => 52, :id => "testing_text#{commit.revision}", :class => 'c-t-text testing' %>
			</div>
			<p style="float: right; margin-top: 0"><em>Press ctrl+r to insert revision number.</em></p>
			<%= submit_tag "Save text changes", :class => 'c-t-save-button', :name => 'submit_button' %>
			<% end -%>
		</div>

		<p><%= link_to 'Edit', edit_release_commit_path(@release, commit) %></p>
	</div>
		<p class="toggle-link"><a href="#" onclick="Effect.toggle($$('#commit<%=h commit.revision %> .details')[0],'blind'); return false;">Toggle details</a></p>
</div>